.fill-remaining-space {
    /* This fills the remaining space, by using flexbox. 
       Every toolbar row uses a flexbox row layout. */
    flex: 1 1 auto;
  }
  .example-button {
   display: block;
   margin: 80px auto 400px;
 }
 
 .example-container {
   height: 200px;
   overflow: auto;
   border: 1px solid #ccc;
 }